.billHeader
{
    font-size: 14px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    background-color:#eeeeee;
    display: flex;
    justify-content: start;
    align-items: center;
}
.billTransType
{
    padding-left: 0.25rem;
    padding-right: 1rem;
}
.billBillType
{
    padding-left: 0.25rem;
    padding-right: 1rem;
}
.billRow
{
    border-left: 2px solid #ff0505;
    border-top: 2px solid #ff0505;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    justify-content: space-between;
    font-size: 14px;
    color: #ff0505;
    text-align: center;
    // Top Row ------------------------
    .title {
        flex: 8 8 33.3%;
        font-size: 32px;
        font-weight: 600;
        margin: 0.5rem;
        padding: 0.25rem 2.5rem;
    }
    .billType {
        flex: 5 5 20.8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .headerIndex {
        flex: 11 11 45.9%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .header {
            display: flex;
            flex-direction: row;
        }
        .first {
            flex: 2 2 20%;
            border-right: 2px solid #ff0505;
        }
        .second {
            flex: 4 4 40%;
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid #ff0505;
            border-right: 2px solid #ff0505;
        }
        .third {
            flex: 4 4 40%;
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid #ff0505;
            border-right: 2px solid #ff0505;
        }
        .fourth {
            flex: 8 8 80%;
            border-right: 2px solid #ff0505;
        }
    }
    // Supplier / Receiver Row ------------------------
    .Contractor {
        flex: 1 1 50%;
        display: flex;
        .subTitle{
            width: 26px;
            border-right: 2px solid #ff0505;
        }
        .index{
            flex: auto;
            display: flex;
            flex-direction: column;
        }
        .cell{
            flex: auto;
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid #ff0505;
        }
        .cellLast{
            flex: auto;
            display: flex;
            flex-direction: row;
        }
        .header{
            width: 125px;
            border-right: 2px solid #ff0505;
        }
        .content{
            flex: auto;
            color: black;
            border-right: 2px solid #ff0505;
        }
        .forPurBorder
        {
            border-color: #0000ff !important;
        }
    }
    // Amount Row ------------------------
    .Date {
        flex: 1 1 10%;
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        border-right: 2px solid #ff0505;
        .datePick{
            border: 0;
            text-align: center;
        }
    }
    .Price {
        flex: 1 1 38%;
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        border-right: 2px solid #ff0505;
        
    }
    .Tax {
        flex: 1 1 27%;
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        border-right: 2px solid #ff0505;
    }
    .Note {
        flex: 3 3 25%;
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        border-right: 2px solid #ff0505;
        .Cell{
            height: 50px;
        }
    }
    .MidCell {
        height: 26px;
        border-bottom: 2px solid #ff0505;
    }
    .MidCellLast {
        height: 26px;
    }
    .Units {
        display: flex;
        flex-direction: row;
        height: 52px;
        .upper{
            width: 100%;
            border-bottom: 2px solid rgb(195, 195, 195);
            border-right: 2px solid rgb(195, 195, 195);
            height: 26px;
        }
        .lower{
            width: 100%;
            height: 26px;
            border-right: 1px solid rgb(195, 195, 195);
        }
        .upper0{
            width: 100%;
            height: 26px;
            border-bottom: 2px solid rgb(195, 195, 195);
        }
        .lower0{
            width: 100%;
            height: 26px;
        }
        .upper1{
            width: 100%;
            height: 26px;
            border-bottom: 2px solid rgb(195, 195, 195) !important;
            border-right: 2px solid #ff0505;
        }
        .lower1{
            width: 100%;
            height: 26px;
            border-right: 2px solid #ff0505;
        }
    }
    .UnitLast {
        display: flex;
        flex-direction: row;
        height: 25px;
    }
    .Unit3 {
        flex: 3 3 21.4%;
        height: 52px;
        display: flex;
        flex-direction: column;
    };
    .Unit {
        flex: 1 1 7.1%;
        height: 52px;
        display: flex;
        flex-direction: column;
    }
    .Unit0 {
        flex: 1 1 7.1%;
    }
    .PriceParts
    {
        flex: 4 4 80%;
        display: flex;
        flex-direction: row;
        border-right: 2px solid #ff0505;
        border-bottom: 2px solid #ff0505;
        .item{
            flex: 1 1 25%;
            display: flex;
            flex-direction: column;

            .header{
                height: 32px;
                border-right: 2px solid rgb(195, 195, 195);
                border-bottom: 2px solid rgb(195, 195, 195);
            }
            .headerLast{
                height: 32px;
                border-bottom: 2px solid rgb(195, 195, 195);
            }
            .content{
                height: 40px;
                border-right: 1px solid rgb(215, 215, 215);
            }
            .contentLast{
                border-top: 1px solid rgb(215, 215, 215);
            }
        }
    }
    .NoteParts
    {
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 2px solid #ff0505;
        border-bottom: 2px solid #ff0505;
    }
}
.table {
    flex: auto;
    border-right: 2px solid #ff0505;
}
.cellText
{
    text-align: 'center';
}
.input
{
    border:0;
    background-color: #f6f7f0;
}
.inputTall
{
    border:0;
    height: 70px;
    background-color: #f6f7f0;
}
.text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textStart
{
    padding-left: 0.5rem;
    text-align: start;
}
.textEnd
{
    text-align: end;
}
.regNo {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.select
{
    width: 250px;
    height: 35px;
}